// 针对项目 cover some element-ui styles

.bahasa {
	&-table {
		.el-table th {
			background: #f4f6fb;
		}
		.el-table thead {
			font-size: 14px;
			font-family: PingFangSC-Medium, PingFang SC;
			font-weight: 500;
			color: #5b627a;
		}
	}
	&-pagination {
		padding: 20px;
		display: flex;
		justify-content: flex-end;
	}

	&-btn.el-button--primary {
		padding: 9px 20px;
		background-color: #396aff;
		border-color: #396aff;
	}

	&-btn.el-button--primary:hover {
		background: #396aff;
		border-color: #396aff;
		opacity: 0.8;
	}
}
