// sidebar
$menuText:#7F8588;
$menuActiveText:#6971C5;
$subMenuActiveText:#6971C5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#fff;
$menuHover:#F4F6FB;
$menuActive:#F4F6FB;

$subMenuBg:#fff;
$subMenuHover:#F4F6FB;
$subMenuActive:#f0f4f9;
$sideBarWidth: 210px;

$mainContainerBg: #eef3f9;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
	menuHover: $menuHover;
	menuActive: $menuActive;
  subMenuBg: $subMenuBg;
	subMenuHover: $subMenuHover;
	subMenuActive:$subMenuActive;
	sideBarWidth: $sideBarWidth;
	mainContainerBg: $mainContainerBg;
}
