// sidebar
$menuText:#97a8be;
$menuActiveText:#396AFF;
$subMenuActiveText:#396AFF; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#FBFCFF;
$menuHover:#EDF1FF;
$menuActive:#EDF1FF;

$subMenuBg:#FBFCFF;
$subMenuHover:#EDF1FF;
$subMenuActive:#f0f4f9;
$sideBarWidth: 210px;

$mainContainerBg: #eef3f9;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
	menuHover: $menuHover;
	menuActive: $menuActive;
  subMenuBg: $subMenuBg;
	subMenuHover: $subMenuHover;
	subMenuActive:$subMenuActive;
	sideBarWidth: $sideBarWidth;
	mainContainerBg: $mainContainerBg;
}
